html {
  font-size: 14px;
}

.border-all-img {
    border: 30px solid transparent;
    padding: 20px;
    border-image: url('/imgs/border-all.png') 30 round;
}

.border-top-img {
    border:10px solid transparent;
    padding: 15px;
    border-top-image;
    border-image: url('/imgs/border-top.png') 30 round;
}

.border-bottom-img {
    border: 10px solid transparent;
    padding: 15px;
    border-top-image;
    border-image: url('/imgs/border-bottom.png') 30 round;
}


.border-left-img {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url('/imgs/border-left.png') 30 round;
}





@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}