@{
    List<DNDLibrary.Character> characters = new List<DNDLibrary.Character>()
    {
        DNDLibrary.CharacterFactory.CreateWulfgar(),
        DNDLibrary.CharacterFactory.CreateDrizzt(),
        DNDLibrary.CharacterFactory.CreateBruenor()


    };
}


<style>
    body {
        background-color: black;
    }

    body, div, p {
        color: white
    }
</style>



<div class="jumbotron jumbotron-fluid">
    <section class="mainview">
        <div class="row border-all-img">
            <div id="MAIN-SCREEN" class="col-md-12 bg-dark p-0">
                <div class="border-all-img p-0 m-0 text-center">
                    
                    asdasd

                </div>
            </div>
        </div>
        <div class="row border-bottom-img">
            <div class="col-md-12">
                <p class="lead">
                    asdfasdfsadf

                </p>
            </div>
        </div>
        <div class="row container">
            <div class="col-md-12 px-5">
                <div class="d-flex">
                    <div><button class="btn-outline-success text-uppercase h3">Inn</button></div>
                    <div><button class="btn-outline-success text-uppercase h3">Hall</button></div>
                    <div><button class="btn-outline-success text-uppercase h3">Commandant</button></div>
                    <div><button class="btn-outline-success text-uppercase h3">Armor</button></div>
                    <div><button class="btn-outline-success text-uppercase h3">Leave</button></div>
                </div>
            </div>
        </div>
    </section>
</div>