@{
    List<DNDLibrary.Character> characters = new List<DNDLibrary.Character>()
    {
        DNDLibrary.CharacterFactory.CreateWulfgar(),
        DNDLibrary.CharacterFactory.CreateDrizzt(),
        DNDLibrary.CharacterFactory.CreateBruenor()
        
        
    };
}


<style>
    body {
    background-color:black;
    }
    body, div, p {
        color:white
    }
    
</style>



<div class="jumbotron jumbotron-fluid">
    <section class="mainview">
        <div class="row borderimg">
            <div class="col-md-7 bg-light p-0">
                <div class="borderimg p-0 m-0">
                    <img src="/imgs/outpost_a.png" alt="" style="width:100%" />
                </div>
            </div>
            <div class="col-md-4 bg-light mx-0">
                <div class="borderimg">

                    <table class="table w-100">
                        <tr>
                            <th>Name</th>
                            <th>AC</th>
                            <th>HP</th>
                        </tr>
                        @foreach (DNDLibrary.Character character in characters)
                        {
                            <tr>
                                <td>@Html.ActionLink(character.Name, "MyCharacter", "Home", new { Id = character.Id }, null)</td>
                                <td>@character.ArmorClass</td>
                                <td>@character.CurrentHitPoints/@character.MaxHitPoints</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
        <div class="row borderimg">
            <div class="col-md-12">
                <p class="lead">Where do you wish to go?</p>
            </div>
        </div>
        <div class="row container">
            <div class="col-md-12 px-5">
                <div class="d-flex">
                    <div><button class="btn-outline-success text-uppercase h3">Inn</button></div>
                    <div><button class="btn-outline-success text-uppercase h3">Hall</button></div>
                    <div><button class="btn-outline-success text-uppercase h3">Commandant</button></div>
                    <div><button class="btn-outline-success text-uppercase h3">Armor</button></div>
                    <div><button class="btn-outline-success text-uppercase h3">Leave</button></div>
                </div>
            </div>
        </div>



    </section>
</div>