



<div class="jumbotron jumbotron-fluid">
    <section class="mainview">
        <div class="row">
            <div class="col-md-7">
                <div>Left Screen</div>



            </div>
            <div class="col-md-4">
                Right Screen

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div>Bottom screen</div>


            </div>
        </div>


        <div class="container">
            <h1>Welcome to the Primary View</h1>
            <p>This is the main content area of the Primary View.</p>
        </div>
    </section>
</div>