@model DNDLibrary.Character

<div class="text-center border border-dark my-2 px-0;" style="width:100px;">
    <div class="ability-name text-uppercase"><small>Proficiency</small></div>
    <div class="ability-bonus h3 border border-dark p-2 m-2" style="border-radius:15px; background-color:lightgrey; cursor:pointer">@Model.ProficiencyBonus</div>
    <div class="ability-name text-uppercase m-2"><small>Bonus</small></div>
</div>