@model DNDLibrary.Character

<div class="d-lg-flex">
    <div class="border border-dark py-3 px-4 fw-bold rounded">@Model.SetPassiveWisdom()</div>
    <div class="border border-dark p-3 w-100">Passive Wisdom</div>
</div>