@model DNDLibrary.Character

<div class="text-center border border-dark rounded mx-2 w-50">
    <div class="d-flex pb-2">
        <div>Total</div><div class="border-bottom text-center" style="width:200px">55</div>
    </div>
    <div class="h1 border border-dark rounded mx-5">15</div>
    <div>Hit Dice</div>
</div>