@model DNDLibrary.Character

<div class="border border-dark rounded d-flex">
    <div class="py-2 px-2 text-uppercase">Exp Points</div><div class="py-2 px-5 bg-light border border-dark rounded">10000</div>
</div>