@model DNDLibrary.Character


<div class="text-center border border-dark rounded mx-2 w-50">
    <div class="pt-3">
        <div class="d-flex">
            <div style="padding:0 20px">Success</div>
            <div style="padding-right:10px"><input type="radio" value="" /></div>
            <div style="padding-right:10px"><input type="radio" value="" /></div>
            <div style="padding-right:10px"><input type="radio" value="" /></div>
        </div>
        <div class="d-flex">
            <div style="padding:0 20px">Failures</div>
            <div style="padding-right:10px"><input type="radio" value="" /></div>
            <div style="padding-right:10px"><input type="radio" value="" /></div>
            <div style="padding-right:10px"><input type="radio" value="" /></div>
        </div>
    </div>
    <div>Death Saves</div>
</div>