@model DNDLibrary.Character

<div class="d-lg-flex">
    <div class="text-uppercase">hit point maximum</div><div class="text-center border-bottom border-dark" style="width:200px">@Model.MaxHitPoints</div>
</div>
<div class="text-center">
    <div class="border border-dark rounded h1">@Model.CurrentHitPoints</div>
    <div class="text-uppercase">Current Hit Points</div>
</div>