@model DNDLibrary.Character

<div class="border border-dark rounded d-flex">
    <div class="py-2 px-2 text-uppercase">Alignment</div><div class="py-2 px-5 bg-light border border-dark rounded">@Model.Alignment</div>
</div>