@model DNDLibrary.Character


<div class="jumbotron jumbotron-fluid border border-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="border border-dark rounded">
                    <div class="float-start">
                        <img src="" alt="" style="background-color:black; height:75px; width:75px" />
                    </div>
                    <h2>@Model.Name</h2>
                    <div>
                        <small>@Model.Race.Name @Model.CharacterClass.Name Level @Model.Level</small>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="d-flex">
                    <partial name="_SetClassNameView" model="Model" />

                    <partial name="_SetExpView" model="Model" />

                </div>
                <div class="d-flex">

                    <partial name="_SetRaceNameView" model="Model" />

                    <partial name="_SetAlignmentView" model="Model" />
  
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 border border-warning">

        <partial name="_SetProficiencyBonusView" model="Model" />

        <partial name="_SetInspirationView" model="Model" />

        <partial name="_AbilityCardView" model="Model" />

        <partial name="_SetPassiveWisdomView" model="Model" />
    </div>

    <div class="col-md-4 border border-danger">
        <div class="d-lg-flex">
            <partial name="_SetArmorClass" model="Model" />

            <partial name="_SetInitiativeView" model="Model" />

            <partial name="_SetSpeedView" model="Model" />
        </div>

        <div class="border border-dark rounded mx-1 p-3 w-100 mt-2">
            <partial name="_SetHitPointsView" model="Model" />
        </div>

        <div class="border border-dark rounded mx-1 p-3 w-100 mt-2">
            <partial name="_SetTemporaryHitPointsView" model="Model"/>
        </div>

        <div class="d-lg-flex mt-2">
            <partial name="_SetHitDice" model="Model" />

            <partial name="_SetDeathSavesView" model="Model" />
        </div>
    </div>

    <div class="col-md-4 border border-info">
        <div class="d-flex">
            <button class="w-25">Action</button>
            <button class="w-25">Equipped</button>
            <button class="w-25 btn-outline-success">Inventory</button>
            <button class="w-25">Spells</button>
        </div>
        <div>
            <partial name="_SetInventoryView" model="Model" />
        </div>
    </div>  

</div>










<div class="row d-none">
    <div class="col-md-6 d-lg-flex">
        <partial name="_AbilityCardView" model="Model" />
    </div>
    <div class="col-md-6 d-lg-flex border border-danger">
        <partial name="_ProficiencyBonusView" model="Model" />

        <div class="text-center border border-dark my-2 mx-2 px-2;" style="width:100px;">
            <div class="ability-name text-uppercase"><small>Walking</small></div>
            <div class="ability-bonus h3 border border-dark p-2 m-2" style="border-radius:15px; background-color:lightgrey; cursor:pointer">30ft</div>
            <div class="ability-name text-uppercase m-2"><small>Speed</small></div>
        </div>

        <div class="text-center border border-dark my-2 mx-2 px-2;" style="width:100px;">
            <div class="ability-name text-uppercase"><small>Heroic</small></div>
            <div class="ability-bonus h3 border border-dark p-2 m-2" style="border-radius:15px; background-color:lightgrey; cursor:pointer">1</div>
            <div class="ability-name text-uppercase m-2"><small>Inspiration</small></div>
        </div>
    </div>
</div>